<style>
/* change cover_img in config.yml */
.jumbotron {
    background-color: var(--main-background-color) !important;
    background-image: url('/assets/img/{{site.hero_cover_img}}');
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron-btns {
  display: block;
  margin-top: 50px;
}
.transbox {
  margin: 1em;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.transbox p {
  margin: 1.5em;
  color: #ffffff;
  opacity: 1.0;
}

.jumbotron-heading, .lead {
  color: #fff;
}
</style>

<!-- home hero section -->
<div class="jumbotron">
  <br><br>
  <div class="transbox">
    <br><br><br>
    <p><img class="author-profile-img" src="{{site.url}}{{site.baseurl}}/assets/img/{{site.logo}}" /></p>
    <p class="jumbotron-heading">{{site.title}}</p>
    <br><br>
    <p class="lead" id="typewriteText"></p>
    <div class="jumbotron-btns">
      <a href="{{site.url}}{{site.baseurl}}/blog">
        <button class="btn btn-md btn-warning"> <strong>Read the Blog</strong> </button>
      </a>
<!--    <a id="olvy-target">-->
<!--      <button class="btn btn-md btn-default"> <strong>What's New</strong> </button>-->
<!--     </a>-->
    </div>
    <p>
    <span>
      {%- include github_follow_button.html -%}
  <!--    {%- include github_fork_button.html -%}-->
    </span>
    </p>
    <br>
  </div>
  <br><br><br>
  <!-- uncomment/modify buttons as you want-->
<!--  <div class="jumbotron-btns">-->
<!--    <a href="{{site.url}}{{site.baseurl}}/blog">-->
<!--      <button class="btn btn-md btn-warning"> <strong>Read the Blog</strong> </button>-->
<!--    </a>-->
<!--&lt;!&ndash;    <a id="olvy-target">&ndash;&gt;-->
<!--&lt;!&ndash;      <button class="btn btn-md btn-default"> <strong>What's New</strong> </button>&ndash;&gt;-->
<!--&lt;!&ndash;     </a>&ndash;&gt;-->
<!--  </div>-->
</div>